@model Ejemplo_modelos.Models.Alumno

@{
    ViewData["Title"] = "VerAlumnoPlantilla";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>VerAlumnoPlantilla</h1>

<div>
    <h4>Alumno</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Nombre
        </dt>
        <dd class = "col-sm-10">
           @Model.Nombre
        </dd>
        <dt class = "col-sm-2">
           DNI
        </dt>
        <dd class = "col-sm-10">
           @Model.DNI
        </dd>
        <dt class = "col-sm-2">
           Nota
        </dt>
        <dd class = "col-sm-10">
            @Model.Nota
        </dd>
    </dl>
</div>

