

<h2>Registro de Alumnos</h2>
<form method="post" asp-action="CrearAlumno">
    <div class="mb-3">
        <label for="dni" class="form-label">Dni</label>
        <input type="text" id="dni" name="dni" class="form-control" required />
    </div>
    <div class="mb-3">
        <label for="Nombre" class="form-label">Nombre</label>
        <input type="text" id="" name="Nombre" class="form-control" required />
    </div>
    <div class="mb-3">
        <label for="Apellidos" class="form-label">Apellidos</label>
        <input type="text" id="Apellido" name="Apellidos" class="form-control" required />
    </div>
    <div class="mb-3">
        <label for="Telefono" class="form-label">Telefono </label>
        <input type="tel" id="Telefono " name="Telefono" class="form-control" required />
    </div>
    <div class="mb-3">
        <label for="Curso" class="form-label">Curso</label>
        <input type="number" id="Curso" name="Curso" class="form-control" min="1" max="2" required />
    </div>
    <div class="mb-3">
        <label for="Edad" class="form-label">Edad</label>
        <input type="text" id="Edad" name="Edad" class="form-control" />
    </div>
    <button type="submit" class="btn btn-success">Registrar</button>
</form>