
@model Persona

@{
	Layout = null;
}

<div class="text-center persona">
	<h1>@Model.nombre</h1>
	<h2>Desarollador full stack especializado en ASP</h2>
	<img class="Pedro" src="~/Pedro.jpg"/>
</div>
<div>
	<img class="fon" src="~/images.jpg"/>
</div>
<div class="par">
	<p>
		<h3>Bienvenido a mi portfolio</h3>
	</p>
</div>