@{
    ViewData["Title"] = "Home Page";
}
<form asp-controller="Home" asp-action="Contact" method="post">
<h1>Contáctanos</h1>
<div class="md-3">
    <label for="nombre" class="form-label">nombre</label>
<input type="text" name="nombre" class="form-control" placeholder="Introduce nombre y apellidos" />
</div>
<div class="md-3">
    <label for ="Email" class="form-label">Email</label>
    <input type="text" name="Email" class="form-control" placeholder="email@gmail.com" />
</div>
<div class="md-3">
    <label for="Mensaje" class="form-label">Mensaje</label>
   <textarea name="Mensaje" class="form-control"></textarea>
</div>
<button type="submit" class="btn-dark">Enviar</button>
</form>
