@model EjemploBBDDEF.Models.Ciclo

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Añadir Ciclo</h2>

<hr /><br />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Especialidad" class="control-label"></label>
                <input asp-for="Especialidad" class="form-control" />
                <span asp-validation-for="Especialidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Siglas" class="control-label"></label>
                <input asp-for="Siglas" class="form-control" />
                <span asp-validation-for="Siglas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Numero_Cursos" class="control-label"></label>
                <input asp-for="Numero_Cursos" class="form-control" />
                <span asp-validation-for="Numero_Cursos" class="text-danger"></span>
            </div>
            <br /><br />
            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-secondary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
