using Practica5.Models;
@model List<Ciclo>

@{
    ViewData["Title"] = "Home Page";
}

<div >
    <h1 class="display-4">Ejemplo Entity Framework</h1>
    <br /><br />
    <h3><a asp-action="Create" class="link-secondary">Nuevo Ciclo</a></h3>
    <br />
    <table class="table table-bordered">
       
        <tbody>
            @foreach (Ciclo c in Model)
            
            {
                <tr>             
                     <td>@c.Numero_Cursos</td>
                    <td>@c.Nombre</td>
                    <td>@c.Codigo</td>

                </tr>



            }
        </tbody>
    </table>
